main {
    margin: auto !important;
}

#infoMatch {
    /* background-color: blue; */
    width: 30%;
    display: flex;
    flex-direction: column;
}

.cardsInfo {
    /* display: flex; */
}

#headTOhead {
    width: 50%;
}